<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-volume-down"></i>
        </div>
        <div class="sidebar-brand-text mx-2">Voice Admin</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <a class="nav-link" href="/dashboard">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Master Data
    </div>
    
    <!-- Nav Item - Charts -->
    <li class="nav-item">
        <a class="nav-link" href="/kelas">
            <i class="fas fa-fw fa-server"></i>
            <span>Kelas</span></a>
        </li>
    <li class="nav-item">
    <a class="nav-link" href="/ds">
        <i class="fas fa-fw fa-database"></i>
        <span>Dataset</span></a>
    </li>
    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Model
    </div>
    <li class="nav-item">
    <a class="nav-link" href="/training">
        <i class="fas fa-fw fa-microchip"></i>
        <span>Training</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/testing">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Evaluation</span></a>
    </li>
    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Log
    </div>
    <li class="nav-item">
    <a class="nav-link" href="/log">
        <i class="fas fa-fw fa-microphone"></i>
        <span>Log Identifikasi</span></a>
    </li>
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Divider -->

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>
<!-- End of Sidebar -->